.experience{
    background-color: #111827;
    /* border: 1px solid red; */
 display: flex;
 flex-direction: column;
 width: 100%;
 justify-self: center;
}
.experience-section{
  width: 50%;
  /* border: 1px solid red; */
  justify-self: center;
  display:flex;
  flex-direction: column;
justify-self: center;
margin-left: 15%;

}
.experience-section h1{
    color: #EAB308;
    margin-bottom: 15px;
}
.card h1{
    margin-top: 40px;
    color: #EAB308;
}
.card-section{
margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    width: 70%;
align-self: center;
    gap: 25px;

}
.card{
    background-color:#020617 ;
    border-radius: 10px;
    padding: 30px;
}
.card h2{
    color: #D1D5DB;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
}
.card h4{
    color: #6B7280;
    font-weight: 200;
}